<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net xsi:noNamespaceSchemaLocation="http://csharptest.net/downloads/schema/log4net.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <appender name="Logger" type="log4net.Appender.EventLogAppender">
      <logName value="SuperSmtpLog"></logName>
      <applicationName value="SuperSmtpService"></applicationName>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level%newline%message"/>
      </layout>
    </appender>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\test\mail.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <datePattern value="mm"/>
      <maxSizeRollBackups value="3"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%m%newline%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="Logger"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>